body{
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.gameBoard{
  height: 100%;
  width: 100%;
  background: url('images/theriver-bg.jpg') no-repeat;
  background-size: cover;
}
.gameArea{
  height: 70%;
  width: 100%;
  display: flex;
}
.resources{
  height: 100%;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}
.resourceContainer, .buildingsContainer{
  height: 50%;
  width: 50%;
  position: relative;
  font-size: 1.7em;
  font-weight: bolder;
}
.resourceContainer > *{
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 70%;
  width: 70%;
  position: absolute;
  box-shadow: 6px 6px 6px 0 rgba(0,0,0,0.5);
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  background-color: white;
}
.resourceContainer > div.clay{
  background: url(images/clay.png) no-repeat;
  background-size: 60% auto;
  background-position: center;
  text-shadow: white 1px 1px 2px;
  background-color: white;
}
.resourceContainer > div.food{
  background: url(images/food.png) no-repeat;
  background-size: 60% auto;
  background-position: center;
  text-shadow: white 1px 1px 2px;
  background-color: white;
}
.resourceContainer > div.wood{
  background: url(images/wood.png) no-repeat;
  background-size: 60% auto;
  background-position: center;
  text-shadow: white 1px 1px 2px;
  background-color: white;
}
.resourceContainer > div.stone{
  background: url(images/stone.png) no-repeat;
  background-size: 60% auto;
  background-position: center;
  text-shadow: white 1px 1px 2px;
  background-color: white;
}
.buildingsWrapper {
  height: 100%;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  text-align:center;
  transition: all .1s ease-in-out;
}
.buildingsContainer > *{
  cursor: pointer;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 70%;
  width: 70%;
  position: absolute;
  text-shadow: white 3px 3px 2px;
  box-shadow: 10px 10px 10px 0 rgba(0,0,0,0.5);
  border-radius: 15px;
  background-color: white;
  background-image: url('images/building3.png');
  background-size: cover;
}
.buildingsContainer:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.playerArea{
  height: 30%;
  width: 100%;
  display: flex;
  position: relative;
  justify-content: flex-end;
}
.colParent{
  position: absolute;
  height: 90%;
  width: 90%;
  top: 5%;
  left: 5%;
  border-radius: 20px;
  text-align: center;
  display: flex;
}
.col1, .col2{
  height: 100%;
  width: 100%;
}
.active{
  border: 4px inset red;
  box-sizing: border-box;
}
.templateArea{
  display: none;
}
div#playerDom {
  width: 25%;
  position: relative;
}
.playerArea img {
  width: 75%;
  height: 100%;
}
.playerCard {
  position: aboslute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.congrats-modal {
  width: 100vw;
  height: 100vh;
  display: none;
  position: absolute;
  top: 0;
  left: 0; 
  text-align: center;
  background-color:white;
}
.congrats-modal img {
  width: 100%;
}
.congrats-modal div {
  font-size: 1.75em;
}
.congrats-modal p {
  font-size: 1em;
  color: #cd0000;
}
.congrats-modal-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.reset-button{
  cursor: pointer;
  transition: all .2s ease-in-out;
}
.reset-button:hover{
  transform: scale(1.2);
}
.reset-button:active{
  transform: scale(1.5);
}