body{
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
}

.gameBoard{
  height: 100%;
  width: 100%;
  background: url('images/theriver-bg.jpg') no-repeat;
  background-size: cover;
}

.gameArea{
  height: 70%;
  width: 100%;
  display: flex;
}

.resources{
  height: 100%;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

.resourceContainer, .buildingsContainer{
  height: 50%;
  width: 50%;
  position: relative;
  font-size: 1.2em;
}

.resourceContainer > *{
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 70%;
  width: 70%;
  position: absolute;
  box-shadow: 6px 6px 6px 0 rgba(0,0,0,0.5);
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  background-color: white;
}

.resourceContainer img{
  height: 60%;
  width: 60%;
}

.buildingsWrapper {
  height: 100%;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  text-align:center;
  transition: all .1s ease-in-out;
}
.buildingsContainer > *{
  cursor: pointer;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 70%;
  width: 70%;
  position: absolute;
  box-shadow: 6px 6px 6px 0 rgba(0,0,0,0.5);
  border-radius: 15px;
  background: url('images/card-back.jpeg') no-repeat;
  background-size: cover;
}

.buildingsContainer:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.playerArea{
  height: 30%;
  width: 100%;
  display: flex;
}

.templateArea{
  display: none;
}
.playerArea {
  display: flex;
  justify-content: flex-end;
}
div#playerDom {
  width: 25%;
}
.colParent {
  height: 100%;
  display: flex;
  justify-content: space-around;
  /* background-color: white; */
  border-radius: 20px;
}
.playerArea img {
  width: 75%;
  height: 100%;
}
.building1, .building2, .building3 {
  background: url('images/card.png');
  background-size: cover;
}

.playerFig{

}

.congrats-modal {
  width: 100vw;
  height: 100vh;
  display: none;
  position: absolute;
  top: 0;
  left: 0; 
  text-align: center;
  background-color:white;
}
.congrats-modal img {
  width: 100%;
}
.congrats-modal div {
  font-size: 1.75em;
}
.congrats-modal p {
  font-size: 1em;
  color: #cd0000;
}
.congrats-modal-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.reset-button{
  cursor: pointer;
  transition: all .2s ease-in-out;
}
.reset-button:hover{
  transform: scale(1.2);
}
.reset-button:active{
  transform: scale(1.5);
}